<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Practica 1 - Inteligencia Artificial 1</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <style type="text/css">
.flexbox-container {
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
}

.flexbox-container > div {
        width: 50%;
        padding: 10px;
}

.flexbox-container > div:first-child {
        margin-right: 20px;
}

textarea {
    overflow-y: scroll;
    height: 500px;
    resize: none;
}
</style>


    <div class="flexbox-container">
	<div><h3> </h3>

    <form action="/analizar" method="POST" enctype="multipart/form-data" style="margin: 70px" Type="submit">

        <input type="file" name="file" id="file"/><br/><br/>
        <div type="menu" >Seleccione un criterio de finalización</div>
        <div class="panel">

          <label>
          <input name="criterio" type="radio" value="1"/>
          Criterio 1: valor maximo de generaciones
          </label>
          <br/>
          <label>
          <input name="criterio" type="radio" value="2"/>
          Criterio 2: mejor fitness (minimo valor fitness)
          </label>
          <br/>
          <label>
          <input name="criterio" type="radio" value="3"/>
          Criterio 3: fitness promedio
          </label>

        </div>



        <br/>
        <div type="menu" >Seleccione un modo de seleccion de padres</div>
        <div class="panel">

          <label>
          <input name="modo" type="radio" value="1"/>
            Modo 1: Aleatorios
          </label>
          <br/>
          <label>
          <input name="modo" type="radio" value="2"/>
            Modo 2: Padres con mejor valor fitness
          </label>
          <br/>
          <label>
          <input name="modo" type="radio" value="3"/>
            Modo 3: Padres pares
          </label>

        </div>

        <input type="submit" value="Analizar"/>

      </form><form action="/calcularNota" method="POST" enctype="multipart/form-data" style="margin: 70px" Type="submit">
         <div type="menu" >Predecir Nota: </div>

            <br/>
          <label>
              Proyecto 1
          <input name="nota1" type="number" step="any" value="0"/>
          </label>

           <br/>
          <label>
              Proyecto 2
          <input name="nota2" type="number" step="any" value="0"/>
          </label>

           <br/>
          <label>
              Proyecto 3
          <input name="nota3" type="number" step="any" value="0"/>
          </label>

          <br/>
          <label>
              Proyecto 4
          <input name="nota4" type="number"  step="any" value="0"/>
          </label>

            <br/>
            <input type="submit" value="Predecir"/>


        </form>


    </div>


	<div><h3>Consola:</h3>


<textarea name="textarea" rows="50" cols="80">
    {{mensaje[0]}}
</textarea>


    </div>
    </div>

</head>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<body>

</body>
</html>